.head1 {
  margin: auto;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3,
h2 {
  padding-top: 2rem;
}

#text {
  text-align: center;
}
.content {
  display: flex;
}

#image1,
#image2,
#image3 {
  display: inline-block;
  overflow: hidden;
  width: 480px;
  height: 320px;
  margin: 10px;
}

#des1,
#des2,
#des3 {
  text-align: center;
  padding-bottom: 5rem;
}

.container iframe {
  display: inline-block;
  overflow: hidden;
  width: 97%;
  height: 600px;
}
