h2 {
  padding-top: 2rem;
}

p {
  text-align: center;
  padding-bottom: 2rem;
  margin-right: 1rem;
}

.choice {
  display: flex;
}

.choice img {
  width: 92%;
  margin-left: 10px;
  margin-right: 10px;
}
