header {
  display: grid;
}

body {
  background-color: #373636;
  width: 100%;
  height: 100%;
  font-family: Hind Siliguri;
  color: #ebe9e9;
}

header div ul {
  display: flex;
  list-style: none;
  flex-basis: 5rem;
  font-family: Montserrat;
  font-weight: bolder;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  border: 3px solid #77f091;
  justify-content: space-around;
}

header div ul li {
  display: inline-block;
  text-align: center;
  padding: 1rem;
}

#logotop {
  width: 99%;
  height: 50%;
  justify-content: flex-end;
}

h1,
h2,
h3 {
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
}

p {
  font-size: 20px;
}

footer {
  background-color: #545454;
  justify-content: space-around;
}
footer div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
  padding-top: 2rem;
}

.foot_slogan {
  text-align: center;
  padding-bottom: 0.5rem;
}

.foot_credit {
  text-align: center;
  padding-bottom: 3rem;
}

footer div a,
header div ul li a:link {
  color: #cae67f;
}

header div ul li a:visited {
  color: #cae67f;
}

.breadcrumbs {
  border: none;
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
  margin-left: 1rem;
}

.breadcrumbs__item {
  background: #fff;
  color: #333;
  outline: none;
  padding: 0.75em 0.75em 0.75em 1.25em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
  background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
  background: #323f4a;
  color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
  background: white;
  bottom: 0;
  clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  transition: background 0.2s linear;
  width: 1em;
  z-index: 1;
}

.breadcrumbs__item:before {
  background: #cbd2d9;
  margin-left: 1px;
}

.breadcrumbs__item:last-child {
  border-right: none;
}

.breadcrumbs__item.is-active {
  background: #edf1f5;
}
