h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

p {
  text-align: center;
  padding-bottom: auto;
  margin-right: 1rem;
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
