.head1 {
  margin: auto;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3,
h2 {
  padding-top: 2rem;
}

#text {
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#image1,
#image2,
#image3 {
  width: 90%;
  height: 90%;
  overflow: hidden;
  flex-grow: 1;
}

#des1,
#des2,
#des3 {
  text-align: center;
  padding-bottom: 5rem;
}

.container iframe {
  display: inline-block;
  justify-content: center;
  overflow: hidden;
  border: none;
  width: 97%;
  height: 600px;
}

#dev_roles {
  display: flex;
  justify-content: center;
}
